:root {
  --Lightred: rgb(255, 87, 87);
  --Orangeyellow: rgb(255, 176, 31);
  --teal: rgb(0, 189, 145);
  --blue: rgb(17, 37, 212);
  --white: rgb(255, 255, 255);
  --whiteblue: rgb(235, 241, 255);
}

html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: var(--whiteblue);
}

/* result */

.section-summary {
  max-width: 65rem;
  margin: 0 auto;
  margin-top: 12rem;
}

.container {
  max-width: 100%;
  background-color: var(--white);
  font-size: 1.6rem;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 20px;
}

.result {
  background-image: linear-gradient(
    to bottom,
    rgb(120, 87, 255),
    rgb(46, 43, 233)
  );
  padding: 3rem 4rem;
  color: hsl(241, 100%, 89%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  border-radius: 2.2rem;
  text-align: center;
}

.heading-secondary {
  font-size: 2rem;
}

.heading-main {
  color: var(--white);
  font-size: 2.2rem;
  font-weight: 700;
}

.score {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  background-color: rgb(78, 33, 202, 0.6);
  text-align: center;
  padding: 2rem;
  position: relative;
}

.score p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.result span {
  font-size: 6rem;
  font-weight: 800;
  color: var(--white);
  display: block;
}

/* summary */

.summary {
  padding: 3rem 4rem;
}

.subjects {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 1.6rem;
  margin-bottom: 2.4rem;
}

.subject {
  display: flex;
  padding: 1.2rem;
  border-radius: 12px;
  align-items: center;
  justify-content: space-between;
}

.subject span {
  font-weight: 700;
}

.subject-reaction {
  background-color: rgba(255, 87, 87, 0.1);
}

.reaction {
  color: rgb(255, 87, 87);
  margin-right: auto;
  margin-left: 1rem;
}

.subject-memory {
  background-color: rgb(255, 176, 31, 0.1);
}

.memory {
  color: rgb(255, 176, 31);
  margin-right: auto;
  margin-left: 1rem;
}

.subject-verbal {
  background-color: rgb(0, 189, 145, 0.1);
}

.verbal {
  color: rgb(0, 189, 145);
  margin-right: auto;
  margin-left: 1rem;
}

.subject-visual {
  background-color: rgb(17, 37, 212, 0.1);
}

.visual {
  color: rgb(17, 37, 212);
  margin-right: auto;
  margin-left: 1rem;
}

.btn-link {
  text-align: center;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.2rem 6rem;
  border-radius: 30px;
  margin-top: 2rem;
  text-decoration: none;
  background-color: #303b5a;
  color: var(--white);
  transition: all 0.3s ease;
}

.btn:hover,
.btn:active {
  background-image: linear-gradient(
    to bottom,
    rgb(120, 87, 255),
    rgb(46, 43, 233)
  );
  color: rgb(235, 241, 255);
}

/* section attribution */

.section-attribution {
  max-width: 65rem;
  margin: 2rem auto;
  font-size: 1.6rem;
}

.attribution {
  text-align: center;
}

.link {
  color: #4e21ca;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s;
}

.link:hover {
  border-bottom: 2px solid #4e21ca;
}

@media (max-width: 25em) {
  .section-summary {
    margin-top: 0;
  }
  .container {
    grid-template-columns: 1fr;
    min-width: 32rem;
  }

  .result {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}
